
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding-top:5px;
    overflow: hidden;
    text-align:center;


}

.nav-bar > li {

    display:inline;

}

.nav-bar > li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    text-align:center;
    float:left;

}

li a:hover {
    background-color: darkgray;
    padding-bottom:7px;
}

.logo{
display:inline;
float:left;
}

.foot-bar{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    background-color:lightgray;


    }

.foot-bar > li {

    display:inline;

    }

.foot-bar > li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;

    }

.copy{
text-align:center;
font-style:italic;
background-color:lightgray;
}

/**Styles Template**/

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    color: #8D8984;
}

body {
    font-family: 'Merriweather', serif;
    color: #8D8984;
}

footer {
    font-family: 'Oswald', sans-serif;
    color: #8D8984;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

p {
    margin: ;
    padding: ;
}

ul {
    margin: ;
    padding: ;
}

/*colors
10B9D2 - dark blue
79CCC9 - light blue
4B8584 - darkest blue
8D8984 - dark gray
D9DEDE - light gray
BBC946 - light green
7A9C3D - dark green
