

/*header****************/
.nav-bar {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    text-align:center;
    background-color:#8D8984;

    

}



.nav-bar > li {

    display:inline;

}

.nav-bar > li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    text-align:center;
    float:left;
    color:#79CCC9;
    font-family: 'Oswald', sans-serif;


}

li a:hover {
    background-color: darkgray;


}

.logo{
display:inline;
float:left;
padding-right:70px;
}
/*footer***************/
.foot-bar{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    background-color:lightgray;
    background-color:#8D8984;

    }

.foot-bar > li {

    display:inline;

    }

.foot-bar > li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
    color:#79CCC9;
    }

.copy{
text-align:center;
font-style:italic;
background-color: #8D8984;
color:#79CCC9;

}



/**Styles Template**/

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    color: #8D8984;
    text-align:center;
}

body {
    font-family: 'Merriweather', serif;
    color: #8D8984;
}

footer {
    font-family: 'Oswald', sans-serif;
    color: #8D8984;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

p {
    margin: ;
    padding: ;
}

ul {
    margin: ;
    padding: ;

}


.contact > h2 {
    padding: 30px;
    background-color:#BBC946;
    box-shadow:  0 5px 5px 0 rgba(32,32,32,.65);
}

form{
    text-align:center;
    padding-bottom:10px;


}

input{
    margin-top:10px;
    margin-bottom:10px;
    background-color:#D9DEDE;
    color:#4B8584;
    font-family: 'Merriweather', serif;

}
textarea{
    height:100px;
    width:500px;
    background-color:#D9DEDE;
    color:#4B8584;
    font-family: 'Merriweather', serif;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,8D8984);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,8D8984);
}

/* Add some padding inside the card container 
.productcontainer {
    padding: 2px 16px;
}*/

.productflex-container {
  /* Creating the flex layout */
  display: flex;
  padding: 2px 16px;
  
  /* Defining flex direction
   * Another option flex-direction: row; flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Defining the remaining space */
  justify-content: space-around;
}
/*/
/*colors*/
/* I0B9D2 - dark blue

/*colors
10B9D2 - dark blue

/** colors
I0B9D2 - dark blue

79CCC9 - light blue
4B8584 - darkest blue
8D8984 - dark gray
D9DEDE - light gray
BBC946 - light green
7A9C3D - dark green */

/*7A9C3D - dark green

7A9C3D - dark green
7A9C3D - dark green **/


/** Index Page **/

#home-container {
    /* max-width: 100%;
    max-height: auto; */
    background-image: url('/img/TranspIDEODesk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 200px;
    margin-top: -67px;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

#home-container h1 {
    padding-top: 180px;
    font-size: 100px;
}

#home-container h1 {
    color: #79CCC9;
}

#home-container h2 {
    color: #79CCC9;
}

#slogan h3 {
    color: #79CCC9;
    text-align: center;
    display: inline;
    float: left;
    margin-left: 7%;
    margin-right: 7%;
    text-decoration: underline;
    font-style: italic;
}

#slogan {
    margin-left: 165px;
    margin-top: 40px;
}

/** Cart Page **/
/** Cart Div Style **/

#cart-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 175px;
    border: 1px solid #8D8984;
    background-color: #D9DEDE;
}

.cartCardImg {
    max-width:100%;
    max-height:100%;
}

.cart-text {
    object-fit: contain;
    margin: 20px 10px 10px 30px;
}


/** Float Clearfix **/
.clear:after {
    content: "";
    display: table;
    clear: both;
}

/** Checkout Page **/

#shipping-address {
    flex-direction: row;
    justify-content: flex-start;
}

#checkout-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 175px;
    border: 1px solid #8D8984;
    background-color: #D9DEDE;
    margin: 5px;
}

.check-text {
    float: right;
    margin: 20px 10px 10px 30px;
}

#bill-container {
    border-top: 1px solid #8D8984;
    border-bottom: 1px solid #8D8984; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 0 5px 0;
    text-align: right;

}

.check-money {
    margin: 20px 10px 10px 30px;
    float: right;
    clear: both;
    max-width: 100%;
}

/** Checkout Button **/
button.css3button {
    float: right;
    clear: both;
    margin: 50px 50px 50px 10px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #f5f2f5;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ef9138 0%,
		#ef9138);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ef9138),
		to(#ef9138));
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(153,147,153,1);
}



