.cards img {
    margin: auto;
    max-height: 250px;
    max-width: 250px;
    overflow: hidden;
    display: block;
    padding: 10px;
}

.cards p {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.cards h3 {
    background-color: #79CCC9; 
    box-shadow:  0 5px 5px 0 rgba(32,32,32,.65);
    width: 25%;
    margin: auto;
    padding: 10px;
}

.desc {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.desc h2 {
    background-color:#79CCC9;
    box-shadow:  0 5px 5px 0 rgba(32,32,32,.65);
    padding: 10px;
}

.aboutCompany h1 {
    /* display: flex;
    margin: auto;
    width: 50%; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
    width: 80%; */
    padding: 30px;
    background-color:#BBC946;
    box-shadow:  0 5px 5px 0 rgba(32,32,32,.65);
}

.holder{
    /* display: flex;
    margin: auto;
    width: 35%;
    position: absolute;
    padding: 50px; */
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.aboutContainer {
    display: flex;
    flex-wrap: wrap;
}

.teamHeader {
    padding: 50px;
}